html {
    background-color: aliceblue;
    overflow-x: hidden;
}

main {
    background-color: aliceblue;
    max-width: fit-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: dimgray;
    display: block;
}
.nav-bar {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.main {
    margin-right: 30px;
    margin-top: 15px;
}
.contact {
    border-radius: 45px;
    background: rgb(192, 145, 59);
}

.hex1 {
    scale: 60%;
    margin-left: -350px;
    margin-top: -200px;
    user-select: none;
}

.hex2 {
    scale: 60%;
    margin-left: 1086px;
    margin-top: -405px;
    user-select: none;
}

.hex3 {
    scale: 60%;
    margin-left: -1095px;
    margin-top: -995px;
    user-select: none;
}

.logo {
    scale: 60%;
    margin-left: 200px;
    margin-top: -870px;
    user-select: none;
}

.tiles1 {
    scale: 60%;
    margin-left: -80px;
    margin-top: -570px;
    user-select: none;
}

.hex4 {
    scale: 60%;
    margin-left: -600px;
    margin-top: -350px;
    user-select: none;
}
   
.william {
    scale: 60%;
    margin-left: -280px;
    margin-top: -200px;
    user-select: none;
}
   
.william-ai {
    width: 450px;
    height: 365px;
    overflow-x: hidden;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1086px;
    margin-top: -750px;
    p {
    font-size: 20px;
    }
    h1 {
    font-size: 52px;
    }
}
   
.tiles3 {
    scale: 60%;
    margin-left: -920px;
    margin-top: -65px;
    user-select: none;
}
   
.tiles3_txt {
    margin-left: 800px;
    margin-top: -1180px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    h1 {
    font-size: 72px;
    }
}
   
.tiles3_text {
    margin-left: 900px;
    margin-top: 40px;
    width: 450px;
    height: 365px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    p {
    font-size: 25px;
    }
}
   
.hex5 {
    scale: 60%;
    margin-left: 1320px;
    margin-top: -700px;
    user-select: none;
}

.twow_text {
    margin-left: 800px;
    margin-top: 580px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    h1 {
    font-size: 72px;
    }
}

.tiles2 {
    scale: 60%;
    margin-left: 20px;
    margin-top: -95px;
    user-select: none;
}

footer {
    background-color: rgb(197, 166, 104);
    height: 100px;
    margin-bottom: 5px;
    p {
        text-align: center;
        padding: 40px;
        font-family: "Play", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
    }
}